<div class="flex justify-center">
  <button
    (click)="printPage()"
    class="no-print px-4 py-2 mt-8 bg-blue-600 text-white rounded"
  >
    Tulosta
  </button>
</div>

<div
  class="p-10 text-black print:text-black print:bg-white print:p-0 print:m-0"
>
  <h1 class="text-2xl font-bold mb-6 text-center">Vastaus lappu</h1>

  <!-- Answer lines -->
  <div class="space-y-8 mb-16">
    <div *ngFor="let n of numbers" class="flex items-end">
      <span class="mr-3 w-6 text-right text-base leading-none">{{ n }}.</span>
      <div class="flex-grow border-b-2 border-gray-800"></div>
    </div>
  </div>

  <!-- Team Name field -->
  <div class="flex items-end">
    <label class="mr-4 text-base font-medium w-28 text-gray-800"
      >Tiimin nimi:</label
    >
    <div class="flex-grow border-b-2 border-gray-800"></div>
  </div>
</div>
