<main class="flex flex-col flex-1 rounded-xl overflow-hidden">
  <div class="flex-1 flex flex-col justify-start">
    <div class="flex justify-between mb-8">
      <app-logo [size]="'md'"></app-logo>
      <p class="text-sm">v.{{ appVersion }}</p>
    </div>

    <mat-divider
      class="pb-8"
      style="border-color: rgb(220, 220, 220)"
    ></mat-divider>

    <div class="flex flex-col gap-1">
      <app-my-button
        routerLink="/dashboard"
        [props]="{
          isActive: isActive('/dashboard'),
          icon: 'home',
          text: 'Koti'
        }"
      ></app-my-button>
      <app-my-button
        routerLink="/dashboard/billing"
        [props]="{
          isActive: isActive('/dashboard/billing'),
          icon: 'attach_money',
          text: 'Laskutus'
        }"
      ></app-my-button>
      <app-my-button
        routerLink="/dashboard/settings"
        [props]="{
          isActive: isActive('/dashboard/settings'),
          icon: 'settings',
          text: 'Asetukset'
        }"
      ></app-my-button>
    </div>
  </div>

  <footer class="pt-6 text-sm">&#169; Pubi visa Oy</footer>
</main>
