<div class="bg-white shadow-md px-2 py-1">
  <div
    class="flex flex-col sm:flex-row justify-between items-center gap-3 max-w-[1800px] mx-auto"
  >
    <div class="flex items-center gap-2">
      <button mat-icon-button routerLink="/">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <app-logo routerLink="/" [size]="'sm'" class="cursor-pointer"></app-logo>
    </div>

    <div class="flex items-center gap-2">
      <img
        [src]="selectedGameCategory()?.logo"
        alt="Logo"
        class="h-10 w-auto"
      />
    </div>

    <div class="flex gap-4">
      <button routerLink="print" mat-raised-button color="accent">
        Tulosta
      </button>
    </div>
  </div>
</div>
