@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

/* Optional: Prevent body scrollbars during initial render */
body {
  overflow: hidden;
  margin: 0;
  min-height: 100vh;
}
*:not(mat-icon) {
  font-family: "Inter", sans-serif !important;
}

// CUSTOM SCROLLBARS
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 4px;
}
