<div class="relative h-screen w-full overflow-hidden">
  <!-- Slide wrapper that moves left/right -->
  <div
    class="flex transition-transform ease-in-out h-full will-change-transform"
    [ngStyle]="{ 'transition-duration': transitionDuration + 'ms' }"
    [style.width.%]="questions.length * 100"
    [style.transform]="'translateX(-' + currentIndex * 100 + 'vw)'"
  >
    @for (question of questions; track $index) {
    <div
      class="relative w-screen h-screen shrink-0 grow-0 flex items-center justify-center px-4 bg-cover bg-center"
      [ngStyle]="{
        'background-image': 'url(' + question.imageUrl + ')',
        'background-size': 'cover',
        'background-position': 'center',
        'background-repeat': 'no-repeat'
      }"
    >
      <!-- Overlay -->
      <div class="absolute inset-0 bg-black opacity-50 z-10"></div>

      <!-- Centered Question -->
      <h1
        class="relative z-20 text-white text-4xl font-bold text-center p-8 rounded-md bg-black/70"
      >
        {{ question.text }}
      </h1>
    </div>
    }
  </div>

  <!-- Custom icon buttons at bottom center -->
  <div
    class="absolute bottom-8 left-1/2 transform -translate-x-1/2 z-30 flex items-center justify-between w-40"
  >
    <!-- Left icon button -->
    <div
      class="flex justify-center bg-gray-800 p-3 rounded-md shadow-md cursor-pointer hover:bg-gray-700 transition"
      [class.opacity-50]="isSliding"
      [class.pointer-events-none]="isSliding"
      role="button"
      aria-label="Previous"
      (click)="prev()"
    >
      <mat-icon class="text-white">arrow_back</mat-icon>
    </div>

    <!-- Right icon button -->
    <div
      class="flex justify-center bg-gray-800 p-3 rounded-md shadow-md transition hover:bg-gray-700 cursor-pointer"
      [class.opacity-50]="isSliding"
      [class.pointer-events-none]="isSliding"
      role="button"
      aria-label="Next"
      (click)="next()"
    >
      <mat-icon class="text-white">arrow_forward</mat-icon>
    </div>
  </div>
  <!-- Fullscreen toggle button -->
  <div
    class="absolute bottom-8 right-8 z-30 flex justify-center bg-gray-800 p-3 rounded-md shadow-md transition hover:bg-gray-700 cursor-pointer"
    role="button"
    aria-label="Toggle Fullscreen"
    (click)="toggleFullscreen()"
  >
    <mat-icon class="text-white">
      {{ isFullscreen ? "fullscreen_exit" : "fullscreen" }}
    </mat-icon>
  </div>
</div>
